<br/>
<mdb-card>
  <!--Card content-->
  <mdb-card-body style="color: black;">

    <!--Title-->
    <mdb-card-title>
      <h4 >Sign Up</h4>
    </mdb-card-title>

    <!-- Material form grid -->
    <form>
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control" placeholder="First name">
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="email" class="form-control" placeholder="Confirm Email">
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col">
          <!-- Material input -->
          <div class="md-form mt-0">
            <input mdbInput type="text" class="form-control" placeholder="Contact Number">
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </form>
    <!-- Material form grid -->

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Sign Up</a>
  </mdb-card-body>
</mdb-card>
