<div class="container-fluid">
  <div class="main-page-card">
    <mat-card class="main-mat-card">

      <mat-card-title align="center">
        MOJITO INSTITUTE
      </mat-card-title>
      <!--    <mat-divider></mat-divider>-->
      <mat-card-content>
<!--        <mat-toolbar color="warn">-->
<!--          <mat-toolbar-row>-->
<!--          <span>-->
<!--            <button class="btn-home" mat-raised-button color="accent">HOME</button>-->
<!--          </span>-->
<!--            <span>-->
<!--            <button class="btn-about" mat-raised-button color="accent">ABOUT US</button>-->
<!--          </span>-->
<!--            <span>-->
<!--            <button class="btn-courses" mat-raised-button color="accent">COURSES</button>-->
<!--          </span>-->
<!--            <span>-->
<!--            <button class="btn-result" mat-raised-button color="accent">RESULT</button>-->
<!--          </span>-->
<!--            <span>-->
<!--            <button class="btn-contact" mat-raised-button color="accent">CONTACT</button>-->
<!--          </span>-->
<!--          </mat-toolbar-row>-->
<!--        </mat-toolbar>-->

        <nav class="navbar">
          <ul class="nav navbar-nav">
            <li>
              <a routerLinkActive="active" routerLink="about">about</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="contact">contact</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="course">course</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="home">home</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="result">result</a>
            </li>
          </ul>
        </nav>


        <mat-card-subtitle>
          sdsd
        </mat-card-subtitle>

        <router-outlet></router-outlet>


      </mat-card-content>

    </mat-card>
  </div>
</div>
