.parent{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #a1887f;

  .child{
    border-radius: 5px;
    background-image: url("https://wallpaperplay.com/walls/full/e/c/a/162419.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 98%;
    height: 96.5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;

    .nav-div {
      padding: 10px;
      border:2px red solid;
    }

    .title-div{
      color: wheat;
      h4{
        font-weight: bold;
      }

    }

    .router-div{
      border:2px red solid;
      padding-left: 10px;
      padding-right: 10px;
      height: 82%;
    }

  }

}

.adminButton{
  button{
    width: 200px;
  }
}


