
<div style="min-height: 100vh; max-height: 100vh;   position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;">

  <!-- Card -->
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg');"
    class="card-image mb-4 mx-4 my-4"
  >
    <!-- Content -->
    <div class="text-white align-items-center rgba-black-strong py-3 px-4">
      <div>

        <mdb-card-title>
          <h4 class="text-center">MOJITO INSTITUTE</h4>
        </mdb-card-title>

        <!--Navbar-->
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark" [containerInside]="false">

          <!-- Navbar brand -->
          <mdb-navbar-brand><a class="navbar-brand" routerLink="home">MOJITO</a></mdb-navbar-brand>

          <!-- Collapsible content -->
          <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="home"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" routerLink="about" mdbWavesEffect>ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" routerLink="course" mdbWavesEffect>COURSES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" routerLink="result" mdbWavesEffect>RESULTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light" routerLink="course" mdbWavesEffect>CONTACT</a>
              </li>

            </ul>
            <!-- Links -->

            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item">
                <a class="nav-link" routerLink="signup">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <div class="btn-group" mdbDropdown>
                    <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                      <a class="dropdown-item" href="#">Profile</a>
                      <div class="divider dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </links>
          <!-- Collapsible content -->

        </mdb-navbar>
        <!--/.Navbar-->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->


</div>





















<!--&lt;!&ndash;Navbar&ndash;&gt;-->
<!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark" [containerInside]="false">-->

<!--  &lt;!&ndash; Navbar brand &ndash;&gt;-->
<!--  <mdb-navbar-brand><a class="navbar-brand" routerLink="home">MOJITO</a></mdb-navbar-brand>-->

<!--  &lt;!&ndash; Collapsible content &ndash;&gt;-->
<!--  <links>-->

<!--    &lt;!&ndash; Links &ndash;&gt;-->
<!--    <ul class="navbar-nav mr-auto">-->

<!--      <li class="nav-item active">-->
<!--        <a class="nav-link waves-light" routerLink="home"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link waves-light" routerLink="about" mdbWavesEffect>ABOUT US</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link waves-light" routerLink="course" mdbWavesEffect>COURSES</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link waves-light" routerLink="result" mdbWavesEffect>RESULTS</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link waves-light" routerLink="course" mdbWavesEffect>CONTACT</a>-->
<!--      </li>-->

<!--    </ul>-->
<!--    &lt;!&ndash; Links &ndash;&gt;-->

<!--    <ul class="navbar-nav ml-auto nav-flex-icons">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link">-->
<!--          <div class="btn-group" mdbDropdown>-->
<!--            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>-->
<!--            <div class="dropdown-menu dropdown-menu-right dropdown-primary">-->
<!--              <a class="dropdown-item" href="#">Profile</a>-->
<!--              <div class="divider dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">Sign Out</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </links>-->
<!--  &lt;!&ndash; Collapsible content &ndash;&gt;-->

<!--</mdb-navbar>-->
<!--&lt;!&ndash;/.Navbar&ndash;&gt;-->
<!--<router-outlet></router-outlet>-->








<!--            &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--            <li class="nav-item dropdown" dropdown>-->
<!--              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>-->
<!--                Basic dropdown<span class="caret"></span></a>-->
<!--              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">-->
<!--                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>-->
<!--                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>-->
<!--                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>-->
<!--                <div class="divider dropdown-divider"></div>-->
<!--                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>-->
<!--              </div>-->
<!--            </li>-->
