
<div class="parent">

  <div class="child">
    <div class="title-div">
      <h3 class="text-center">MOJITO INSTITUTE</h3>
    </div>
    <div class="nav-div">
      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color-dark" [containerInside]="false">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" routerLink="home">MOJITO</a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="home"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="about" mdbWavesEffect>ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="course" (click)="clicked('course')" mdbWavesEffect>COURSES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="result" (click)="clicked('result')" mdbWavesEffect>RESULTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" routerLink="contact" mdbWavesEffect>CONTACT</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown *ngIf="_authService.adminLogged()">
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                ADMIN PANEL<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary adminButton" role="menu">
                <button mdbBtn color="primary" mdbWavesEffect routerLink="announcement">Manage Announcement</button>
                <button mdbBtn color="primary" mdbWavesEffect routerLink="studentDetails">Manage Student Details</button>
                <button mdbBtn color="primary" mdbWavesEffect routerLink="teacherDetails">Manage Teacher Details</button>
                <button mdbBtn color="primary" mdbWavesEffect routerLink="insertMarks">Manage Exam Marks</button>
              </div>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown *ngIf="_authService.teacherLogged()">
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                TEACHER PANEL<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary adminButton" role="menu">
                <button mdbBtn color="primary" mdbWavesEffect routerLink="announcement">Manage Announcement</button>
                <button mdbBtn color="primary" mdbWavesEffect routerLink="studentDetails">Manage Student Details</button>
                <button mdbBtn color="primary" mdbWavesEffect routerLink="insertMarks">Manage Exam Marks</button>
              </div>
            </li>
          </ul>
          <!-- Links -->

          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link" *ngIf="!_authService.loggedInUser()" routerLink="signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="!_authService.loggedInUser()" routerLink="login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="btn-group" mdbDropdown>
                  <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                  <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="_authService.loggedInUser()" (click)="_authService.logOutUser()">Sign Out</a>
                  </div>
                </div>
              </a>
            </li>
            <span class="nav-link">
                {{_authService.getUserName()}}
            </span>
          </ul>
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->
    </div>
    <div class="router-div">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
