<div class="main-page-card">
  <mat-card class="main-mat-card">

    <mat-card-title align="center">
      MOJITO INSTITUTE
    </mat-card-title>
<!--    <mat-divider></mat-divider>-->
    <mat-card-content>
      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <span>
            <button class="btn-home" mat-raised-button color="accent">HOME</button>
          </span>
          <span>
            <button class="btn-about" mat-raised-button color="accent">ABOUT US</button>
          </span>
          <span>
            <button class="btn-courses" mat-raised-button color="accent">COURSES</button>
          </span>
          <span>
            <button class="btn-result" mat-raised-button color="accent">RESULT</button>
          </span>
          <span>
            <button class="btn-contact" mat-raised-button color="accent">CONTACT</button>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-card-subtitle>
        sdsd
      </mat-card-subtitle>

    </mat-card-content>

  </mat-card>
</div>
